.footer-link {
    color: #ddd;
    text-decoration: none;
    transition: .3s;
}

.footer-link:hover {
    color: #ffc107;
    padding-left: 5px;
}

footer a {
    transition: .3s;
}

footer a:hover {
    color: #ffc107 !important;
    transform: translateY(-2px);
}

footer p {
    color: #ddd;
}

footer ul li {
    color: #ddd;
}

footer hr {
    opacity: .2;
}